<div class="login-client-image">
  <% if (client.logoUri) { %><img src="<%= client.logoUri %>"><% } %>
</div>

<ul>
<% if ([details.missingOIDCScope, details.missingOIDCClaims, details.missingResourceScopes].filter(Boolean).length === 0) { %>
  <li>the client is asking you to confirm previously given authorization</li>
<% } %>

<% missingOIDCScope = new Set(details.missingOIDCScope); missingOIDCScope.delete('openid'); missingOIDCScope.delete('offline_access') %>
<% if (missingOIDCScope.size) { %>
  <li>scopes:</li>
  <ul>
    <% missingOIDCScope.forEach((scope) => { %>
      <li><%= scope %></li>
    <% }) %>
  </ul>
<% } %>

<% missingOIDCClaims = new Set(details.missingOIDCClaims); ['sub', 'sid', 'auth_time', 'acr', 'amr', 'iss'].forEach(Set.prototype.delete.bind(missingOIDCClaims)) %>
<% if (missingOIDCClaims.size) { %>
  <li>claims:</li>
  <ul>
    <% missingOIDCClaims.forEach((claim) => { %>
      <li><%= claim %></li>
    <% }) %>
  </ul>
<% } %>

<% missingResourceScopes = details.missingResourceScopes %>
<% if (missingResourceScopes) { %>
  <% for (const [indicator, scopes] of Object.entries(details.missingResourceScopes)) { %>
    <li><%= indicator %>:</li>
    <ul>
      <% scopes.forEach((scope) => { %>
        <li><%= scope %></li>
      <% }) %>
    </ul>
  <% } %>
<% } %>

<% if (params.scope && params.scope.includes('offline_access')) { %>
  <li>
  the client is asking to have offline access to this authorization
    <% if ((!details.missingOIDCScope) || !details.missingOIDCScope.includes('offline_access')) { %>
      (which you've previously granted)
    <% } %>
  </li>
<% } %>

</ul>



<head>
  <title>Konfirmasi Lanjut</title>
</head>
<body class="hold-transition login-page">

    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="#" class="h1"><b>Konfirmasi</b></a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Apakah anda ingin lanjut?</p>
    
          <form autocomplete="off" action="/interaction/<%= uid %>/confirm" method="post">
           
         
            <div class="row">
              
              <!-- /.col -->
              <div class="col-12">
                <button autofocus type="submit" class="btn btn-primary btn-block">Lanjut</button>
                
              </div>
            
              <!-- /.col -->
            </div>

            <div class="row m-2">
              <div class="col-12">
                <a class="btn btn-danger btn-block" href="/interaction/<%= uid %>/abort">Batal</a>
                <% if (client.tosUri) { %>
                  <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
                <% } %>
                <% if (client.policyUri) { %>
                  <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
                <% } %>
              </div>
             </div>
          </form>
    
    
        
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
    
  

    