
<head>
  <title>Konfirmasi Lanjut</title>
</head>
<body class="hold-transition login-page">
 
  
    <div class="login-box">
  
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center"> 
          <h2><b>Masuk Ke <%= client.clientName %>?</b></h2>
      <% if (client.logoUri) { %><img height="50" src="<%= client.logoUri %>"><% } %>

        </div>
        <div class="card-body">
          <p class="login-box-msg">Apakah anda yakin memberikan data anda ke App <b><%= client.clientName %></b> menggunakan akun <b><%= akun_user %></b> ?</p>
    
          <form autocomplete="off" action="/login/<%= uid %>/confirm" method="post">
           
         
            <div class="row">
              
              <!-- /.col -->
              <div class="col-12">
                <button autofocus type="submit" class="btn btn-primary btn-block">Lanjut</button>
                
              </div>
            
              <!-- /.col -->
            </div>

            <div class="row m-2">
              <div class="col-12">
                <a class="btn btn-danger btn-block" href="/login/<%= uid %>/abort">Batal</a>
                <% if (client.tosUri) { %>
                  <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
                <% } %>
                <% if (client.policyUri) { %>
                  <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
                <% } %>
              </div>
             </div>

             
          </form>
    
    
        
        </div>
        <!-- /.card-body -->
        <p class="text-center">Tidak ingin login menggunakan akun ini? <br> <a href="/keluar/?redirect_uri=<%= redirect_uri %>">Logout dan Ganti Akun</a></p>
        
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
    
  

    