<%- include('snippets/header') %>

<h3>Halaman User</h3>
    <ul>
        <li><a href="/user/register">Register User</a></li>
    </ul>
<% if (users.length > 0) { %>
    <table>
        <tr>
            <td>Nama</td>
            <td>Email</td>
            <td>Aksi</td>
        </tr>
        <% users.forEach((u) => { %>
            <tr>
                <td><%= u.nama %></td>
                <td><%= u.email %></td>
                <td><a href="/user/hapus/<%= u.id %>">Hapus</a></td>
                <td><a href="/user/edit/<%= u.id %>">Edit</a></td>
            </tr>
        <% }) %>
    </table>
<% } else { %>
    <h3>tidak ada data yang bisa ditampilkan</h3>
<% } %>
    
<%- include('snippets/footer') %>
