<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Client</title>
</head>
<body>
    

    <form action="" method="post">
    <table>
            <tr>
                <td>Nama Client</td>
                <td><input type="text" name="client_name"></td>
            </tr>
            <tr>
                <td>Redirect URI Client</td>
                <td><input type="text" name="redirect_uri"></td>
            </tr>
            
        </table>
        <button type="submit">Simpan</button>
    </form>
    <br>
    <br>
    <br>

    <table border="2"> 
        <tr>
            <td>Nama Client</td>
            <td>Client ID</td>
            <td>Client Secret</td>
            <td>Redirect URI</td>
            <td>Aksi</td>
        </tr>
        <% clients.forEach(c => { %>
            <tr>
                <td><%= c.nama_client %></td>
                <td><%= c.client_id %></td>
                <td><%= c.client_secret %></td>
                <td><%= c.redirect_uri %></td>
                <td>
                    <a href="/client/edit/<%= c.client_id %>">Edit</a>
                    <a href="/client/hapus/<%= c.client_id %>">Hapus</a>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>