<!--
<%- include('snippets/header') %>
    <h3>Edit User</h3>
    <form action="" method="POST">
        <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control" id="nama" name="nama" value="<%= user.nama %>">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" value="<%= user.email %>">
        </div>
        <button class="btn btn-dark" type="submit">Simpan</button>
    </form>
<%- include('snippets/footer') %>
-->
<%- include('snippets/head') %>
<head>
  <title>EDIT DATA USER</title>
</head>

<body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="#"><b>Admin</b>LTE</a>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Edit Data User</p>
    
          <form action="" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" value="<%= user.nama %>" placeholder="Full name" name="nama" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" value="<%= user.email %>" placeholder="Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
 
              <!-- /.col -->
              <div class="col-12" >
                <button type="submit" class="btn btn-primary btn-block">Update</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
    
    </body>
